<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="2a486f72.Useful" version="1.0.4" targetFramework="portable-win+net45" />
  <package id="Microsoft.Net.Http" version="2.1.3-beta" targetFramework="portable-win+net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="portable-win+net45" />
</packages>