<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="2a486f72.Useful" version="1.0.4" targetFramework="net45" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.8-beta" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
</packages>